/* Custom background styling */
body {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url('/assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white !important;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
  color: white;
}
