/* Custom footer styles */
.wrapper-footer,
.wrapper-footer .container,
.footer {
  background: transparent;
  background-image: none;
}

.wrapper-footer {
  background: inherit;
}

.footer {
  color: white;
}
